@model IEnumerable<ShoppingWebApplication.Models.Product>

@{
    ViewData["Title"] = "Products";
    <link rel="stylesheet" href="~/css/home.css" />
}

<div class="home">
            
            @foreach (var product in Model)
            {
        if(product.CategoryId == 9)
        {
            <a class="card" asp-controller="Products" asp-action="Index" asp-route-id="@product.ProductId"
                            asp-route-slug="@product.Slug">
                    <div style="height: 600px">
                        <img src="@product.ImagePath" class="image"/>
                        <div class="about">
                            <div class="seller">@product.Supplier</div>
                            <div class="description">
                        @{
                            if((@product.Description).Length < 24)
                            {                     
                                        <span>@product.Description</span>
                                    }
                                    else
                                    {    
                                        if((product.Description).Length >= 24)
                                        {
                                            for (var i = 0; i < 24; i++)
                                            {
                                                @product.Description.ElementAt(i)
                                            }
                                        }
                                        <span>...</span>
                            }
                        }
                            </div>
                        </div>
                        <br/>
                        <div class="price">
                            <h3>@product.Price TL</h3>
                        </div>
                    </div>
                    </a>
        }
                
       }
            
</div>